
  body { 
    font-family: monospace;
    background-color: lightgoldenrodyellow;
     text-align: center
     padding 0 15 10 15;
     margin: 0 auto ;
     width: 400px;
     border: 2px solid #000128;
  }
  
  h1 { text-shadow: 4px 4px 4px #d37246;
background-color: #e79068  }


h2 {color:black;
text-shadow: 1px 1px 1px black;
background-color: #e79068;}
    em {color: black;
    text-shadow: 2px 2px 2px #d37246 ;
    background-color: rgb(233, 217, 193); }

strong {background-color: #e79068;}

p {background-color: #e79068;}