html {
    background-color : #bfd4e7;
  }
  h1 {  text-shadow: 1px 1px 1px white;
    font-size: 200;
     color:#002a50;
  }
h2 {  text-shadow: 1px 1px 1px black;
    font-size: 150%;
     color:#002a50;
  }
  strong { text-shadow: 1px 1px 1px black;
  }
  em 
  {
      text-shadow: 1px 1px 1px #000128;
    color: #306493;
  }
  body { 
    font-family:"Courier";
    width: 680px;
    margin: 0 auto;
    background-color: #bfd4e7;
    padding: 0 15px 10px 15px;
    border: 2px solid #000128;
  }
  
  


  